{% extends "doc.html" %}
{% load static%}
{% block 'content' %}
<div class="w-100 h-100">
   <div class="row d-flex justify-content-center align-items-center w-100 h-100">
    <div class="card col-lg-5 col-sm-10 p-5 bg-transBody">
      <div class="text-center mb-4"><h4>Change Password</h4></div>
      <form action="{% url 'docter:doc_Password' %}" method="post">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input class="form-control" id="inputEmail" type="text"  name="passw" placeholder="Password" />
            <label for="inputEmail" >Password</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="inputPassword" type="password" name="con_passw" placeholder="Password" />
            <label for="inputPassword">Conform Password</label>
        </div>
        <div class="text-center mt-4 mb-0">
            <button class="btn btn-success w-50" type="submit">submit</button>
        </div>
      </form>
   </div>
   </div>
</div>
{%endblock%}