{% extends "user-admin.html" %}

{%load crispy_forms_tags %} 

{% block 'content' %}
             
{% if messages%}                  
{% for message in messages %}
{% if message.tags == 'error'%}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        var m="{{message}}";
        console.log(m);
        Swal.fire({
                position: 'center',
                icon: 'error',
                title: m,
                showConfirmButton: false,
                timer: 4000
                })
       </script>
       {%endif%}
{% if message.tags == 'success'%}
       <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
       <script>
           var m="{{message}}";
           console.log(m);
           Swal.fire({
                   position: 'center',
                   icon: 'success',
                   title: m,
                   showConfirmButton: false,
                   timer: 4500
                   })
          </script>
          {%endif%}       
{% endfor %}
{%endif%} 
       <div class=" h-100 w-100">

           <div class="row d-flex justify-content-center align-items-center w-100">

                <div class="card col-lg-6 col-md-9 col-sm-10 p-3 px-5 my-3 bg-transBody">
                 <h3 class="text-center text-uppercase">ADD address</h3>
              
                        <form action="{% url 'patient:adres' id=id %}" method="post"  >
                                {% csrf_token %}
                                {{form|crispy}}
                              <div class="text-center">
                                <button class="btn btn-primary mt-2 w-50" type="submit">submit</button>
                              </div>  
                        </form>
                </div>
           </div>

        </div> 
{%endblock%}